@{
    ViewData["Title"] = "LandingPage Index";
}

<div class="text-center">
    <h1 class="display-1">@ViewData["Title"]</h1>

    <ul>
        @for (var i = 0; i < (int)ViewData["id"]; i++) {
            <li>@ViewData["msg"]</li>
        }
    </ul>
    <p>
        Learn about 
        <a href="https://docs.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core.
        </a>
    </p>
</div>
